$collapser-width: 16px;

.p-drawer {
  height: 100%;
  width: 20px;
  flex-shrink: 0;
}
.p-drawer.left {
  justify-content: flex-end;
}

.p-drawer-content {
  width: 100%;
}

.p-drawer-collapser {
  text-align: center;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 32px;
}

.p-drawer-collapser.toggler {
  width: $collapser-width;
}

.p-drawer-collapser.barrier {
  width: 2px;
}