
.p-window {
  position: absolute;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  overflow: hidden;
}

.p-window:active {
  border-width: 2px;
}

.p-window-bar {
  height: 30px;
}

.p-window-resizer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  border-top-left-radius: 100%;
  cursor: nwse-resize;
}