
.p-window {
  position: absolute;
  top: 0;
  left: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  overflow: hidden;
  transform: translate3d(0,0,0);
  will-change: transform;
}

.p-window-bar {
  height: 30px;
}

.p-window-content {
  height: calc(100% - 30px);
  overflow: scroll;
}

.p-window-resizer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  border-top-left-radius: 100%;
  cursor: nwse-resize;
}